@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center text-light">
    <h1 class="display-4">¡Bienvenido!</h1>
    <p class="text-center">Para comenzar a usar la agenda, utilizá el menú principal.</p>
    <p class="text-center">Para un mejor uso, asegurate de añadir primero el Contacto y luego el resto de sus datos (Teléfonos, Direcciones, Correos Electrónicos).</p>
</div>
