@model AgendaTelefonica.Models.CompaniaTelefonica

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-light">Empresas Telefónicas</h1>

<div>
    <h4 class="text-light">Detalles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2 text-light">
            @Html.DisplayNameFor(model => model.NombreCompania)
        </dt>
        <dd class = "col-sm-10 text-light">
            @Html.DisplayFor(model => model.NombreCompania)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.IdCompania">Modificar</a>
    <a class="btn btn-primary" asp-action="Index">Volver</a>
</div>
