@model AgendaTelefonica.Models.Email

@{
    ViewData["Title"] = "Agregar Correo Electrónico";
}

<h1 class="text-light">Agregar Correo Electrónico</h1>

<h4 class="text-light">Correo Electrónico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CorreoElectronico" class="control-label text-light"></label>
                <input asp-for="CorreoElectronico" class="form-control" type="email" required  />
                <span asp-validation-for="CorreoElectronico" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IdContacto, "Contacto", new { @class = "control-label text-light" })<br />
                @Html.DropDownList("IdContacto", (IEnumerable<SelectListItem>)ViewBag.IdContacto, "Seleccionar Contacto", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
